@font-face {
    font-family: 'open sanssemibold';
    src:url('../font/opensanssemibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open sans';
    src:url('../font/opensans.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open sanslight';
   
    src: 
         
         url('../font/opensanslight.woff') format('woff');
         
    font-weight: normal;
    font-style: normal;

}